<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newChild">
    Ajouter un enfant
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="newChild" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nouvelle enfant</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                      <label for="childName" class="form-label">Nom</label>
                      <input type="text" class="form-control" id="childName">
                    </div>
                    <div class="mb-3">
                        <label for="childFirstName" class="form-label">Prénom</label>
                        <input type="text" class="form-control" id="childFirstName">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</div>